.products-container {
    height: 100%;

    &__item-list {
        padding: 64px 100px;
        
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;

        & > div {
            margin: 0 24px 100px;
        }
    }
}