@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap%22%22");

header {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 39px;
  padding: 0 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #00ccc0;
  position: fixed;
  z-index: 1000;
  width: 100%;

  .logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: white;
    gap: 10px;
    text-decoration: none;
  }

  .logo h2 {
    font-size: 1.1rem;
    margin: 0 5px;
  }

  .menu {
    display: none;
    font-size: .75rem;
    justify-content: space-between;
    list-style: none;
    gap: 1.5rem;
    margin-top: 18px;
  }

  .menu a {
    color: white;
    text-decoration: none;
    font-weight: 700;
  }

  .toggle-btn {
    background-color: transparent;
    border: none;
    color: white;
  }

  img {
    height: 25px;
  }
}

.offcanvas-top {
  height: fit-content;
  border: none;
}

#header-offcanvas {
  background-color: #00ccc0;
  padding: 0 0 8px 0;

  .offcanvas-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 8px 0;
    }

    li:last-of-type {
      a {
        margin: 0 16px;
      }
    }

    a {
      text-decoration: none;
      color: #ffffff;
      font-weight: 500;
    }

    .divider {
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      width: 70%;
      height: 1px;
    }
  }
}

@media (min-width: 532px) {
  header {
    .toggle-btn {
      display: none;
    }
  
    .menu {
      display: flex;
    }
  }
}

/* ===== media querie ===== */
/* ===== tablet ===== */
@media (min-width: 768px) {
  header {
    height: 64px;
  }
  .logo {
    height: 20px;
  }
  .menu {
    font-size: .5rem; 
    gap: 1rem;
  }
 
}

/* ===== pc ===== */
@media (min-width: 1024px) {
  header {
    height: 74px;
    margin-right: 10px;
  }

  .menu a {
    font-size: 1rem;
  }

  .logo h2 {
    font-size: 1rem;
    margin: 0 5px;
  }
  img {
    height: 20px;
  }

}