@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap%22");

header {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 39px;
  padding: 0 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #00ccc0;
  position: fixed;
  z-index: 1000;
  width: 100%;

  .logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: white;
    gap: 10px;
    text-decoration: none;
  }

  .logo h2 {
    font-size: 1.5rem;
    margin: 0 10px;
  }

  .menu {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 3rem;
  }

  .menu a {
    color: white;
    text-decoration: none;
    font-weight: 700;
  }

  img {
    height: 40px;
  }
}
/* ===== media querie ===== */
/* ===== tablet ===== */
@media (min-width: 768px) {
  header {
    height: 64px;
  }
}

/* ===== pc ===== */
@media (min-width: 1024px) {
  header {
    height: 74px;
    margin-right: 10px;
  }
}