.products-category-container {
    height: auto;
    min-height: calc(100% - 122px);

    &__item-list {
        padding: 100px 0;
        
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;

        & > div {
            margin: 0 24px 100px;
        }

        @media (min-width: 768px) {
            padding: 100px 64px;
        }
    }
}