main {
  width: 100%;
  min-height: calc(100vh - 32px);
  background-color: #FFFFFF;
  margin-top: 39px;
}

@media (min-width: 768px) {
  main {
    min-height: calc(100vh - 48px);
    margin-top: 64px;
  }
}

@media (min-width: 1024px) {
  main {
    min-height: calc(100vh - 61px);
    margin-top: 74px;
  }
}
