footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91px;
  padding: 0 20px;
  background-color: #00CCC0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.logo {
  margin-right: 10px;
}

.footer-text {
  color: white;
  font-size: 0.75rem;
}

/* ===== Responsividade ===== */
/* ===== Tela Tablet ===== */

@media (max-width: 820px) and (min-width: 319px){
  footer {
    display: flex;
    justify-content: right;
    align-items: right;
    height: 61px;
    margin-right: 10px;
  }
  .footer-text {
    font-size: 0.625rem;
  }
}

/* ===== Tela Mobile ===== */

@media (max-width: 320px){
  footer {
    display: flex;
    justify-content: right;
    align-items: right;
    height: 32px;
    margin-right: 10px;
  }
  .footer-text {
    font-size: 0.438rem;
  }
}